<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div class="container text-center mt-5">
        <h1 class="display-4">Yetkisiz Erişim</h1>
        <p class="lead">Bu sayfaya erişim izniniz yok.</p>
        <a href="/" class="btn btn-primary mt-3">Ana Sayfaya Dön</a>
    </div>
    <%- include('../partials/script') %>
</body>
</html>