<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <% if (isAuth) { %>
            <li class="nav-item"><a class="nav-link" href="/friend/requests">Gelen İstekler</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/profile/<%= userid %>">Profil</a></li>
            <li class="nav-item"><a class="nav-link" href="/auth/logout">Çıkış Yap</a></li>
            <li class="nav-item mt-2"><%= fullname %></li>
        <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/auth/login">Giriş Yap</a></li>
        <% } %>
    </ul>
</div>