<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item active"><a class="nav-link" href="/admin/list/anc">Admin Page</a></li>
        <li class="nav-item"><a class="nav-link" href="/auth/signout">Signout</a></li>
        <li class="nav-item mt-2"><%=fullname %></li>
    </ul>
</div>