<div class="offcanvas offcanvas-start bg-white" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarLabel">Menü</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/add/game">Oyun Ekle</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/list/game">Oyun Listele</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user">Oyun Önizleme</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/list/users">Kullanıcı Listeleme</a>
        </div>
    </div>
</div>